* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;

  --color-lavender: rgb(220, 173, 228);
  --color-english-violet: rgb(95, 73, 99);
  --color-yankees-blue: rgb(20, 32, 54);
  --color-harlequin-green: rgb(56, 197, 20);
}

main {
  background-color: #10201f;
  background-image: url("./images/background_light.jpeg");

  @supports (background-image: url("./images/background_light.webp")) {
    background-image: url("./images/background_light.webp");
  }
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
}

form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  width: 38rem;
  padding: 1.5rem;
  background-color: white;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

h1 {
  font-size: 1.5rem;
  font-weight: 400;
}

.field {
  width: 100%;
  position: relative;
}

.field:nth-last-child(2) {
  margin-bottom: 3rem;
}

label {
  position: absolute;
  top: 1.125rem;
  left: 0.75rem;
  color: #ccc;
  font-size: 1rem;
}

input:focus + label,
/* Чтобы label, который визуально притворяется плесхолдером, не перекрывал данные в заполненном поле */
input:not(:placeholder-shown):not(:focus) + label {
  top: -25%;
  font-size: 0.8rem;
  color: var(--color-harlequin-green);
  background-color: white;
  padding: 0px 4px;
  transition: 0.3s;
}

input {
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  padding: 0.75rem;
  width: 100%;
  font-size: 1.4rem;
}

input:hover {
  outline: 1px solid rgb(0, 0, 0);
}

input:focus {
  outline: 2px solid var(--color-harlequin-green);
}

input.errorField {
  border: 1px solid red;
  color: red;
  background: url("./images/icon-error.png");
  background-repeat: no-repeat;
  background-position: 98%;
  background-size: 2rem;
  padding-right: 3rem;
}

input.errorField + label {
  color: red;
}

.submitButton {
  cursor: pointer;
  width: 100%;
  height: 2.4rem;
  color: var(--color-harlequin-green);
  border-radius: 4px;
  background-color: transparent;
  font-weight: 700;
  border: 1px solid var(--color-harlequin-green);
}

.submitButton:active {
  color: rgb(93, 34, 104);
  border-color: rgb(93, 34, 104);
}

.submitButton:focus {
  outline: 2px solid var(--color-harlequin-green);
}

.submitButton.recoveryLetterSendButton {
  cursor: default;
  color: var(--color-harlequin-green);
  border: 1px solid var(--color-harlequin-green);
}

.spinner {
  padding: 0.3em;
  filter: none;
}

.fieldErrorText {
  position: absolute;
  top: -25%;
  font-size: 0.8rem;
  left: 0.75rem;
  color: red;
  background-color: white;
  padding: 0px 4px;
  transition: 0.3s;
}

.linkButton {
  background-color: transparent;
  outline-color: transparent;
  border: none;
  cursor: pointer;
  color: var(--color-harlequin-green);
  position: absolute;
  font-size: 1rem;
}

.linkButton:focus {
  text-decoration: underline;
}

.linkButton:hover {
  text-decoration: underline;
}

.showPassword {
  left: 0;
  bottom: -50%;
}

.forgotPassword {
  position: absolute;
  right: 0;
  bottom: -50%;
  font-size: 1rem;
  color: var(--color-harlequin-green);
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  main {
    background-color: var(--color-yankees-blue);
    background-image: url("./images/background_dark.jpeg");

    @supports (background-image: url("./images/background_dark.webp")) {
      background-image: url("./images/background_dark.webp");
    }
  }

  form {
    background-color: var(--color-yankees-blue);
  }

  input:focus + label,
  input:not(:placeholder-shown):not(:focus) + label {
    color: var(--color-lavender);
    background-color: var(--color-yankees-blue);
  }

  input:focus {
    outline: 2px solid var(--color-lavender);
  }

  .submitButton {
    color: var(--color-lavender);
    border: 1px solid var(--color-lavender);
  }

  .submitButton:focus {
    outline: 2px solid var(--color-lavender);
  }

  .showPassword {
    color: var(--color-lavender);
  }

  input {
    border-color: var(--color-english-violet);
    color: var(--color-lavender);
  }

  h1 {
    color: var(--color-lavender);
  }

  .fieldErrorText {
    background-color: var(--color-yankees-blue);
  }

  .forgotPassword {
    color: var(--color-lavender);
  }

  .spinner {
    padding: 0.3em;
    filter: invert(1);
  }
}

@media (max-width: 992px) {
  form {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 0;
    justify-content: flex-start;
    padding-top: 8rem;
  }

  .field,
  button.submitButton {
    width: 70%;
  }
}

@media (max-width: 420px) {
  .submitButton {
    height: 3rem;
    line-height: 1rem;
    width: 100%;
  }

  .submitButton.submitButton.recoveryLetterSendButton {
    font-size: 0.7rem;
  }

  .field {
    width: 100%;
  }
}

@media (max-height: 420px) {
  form {
    padding: 1rem;
  }
}
